body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}

.upload-section {
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    width: 50%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #222;
    color: white;
    border: 1px solid #555;
}

button {
    background: #ff416c;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff4b2b;
}
